---
openapi: 3.0.3
info:
  title: Sure API
  version: v1
  description: OpenAPI documentation generated from executable request specs.
servers:
- url: https://app.sure.am
  description: Production
- url: http://localhost:3000
  description: Local development
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: X-Api-Key
      in: header
      description: API key for authentication. Generate one from your account settings.
  schemas:
    Pagination:
      type: object
      required:
      - page
      - per_page
      - total_count
      - total_pages
      properties:
        page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
        total_count:
          type: integer
          minimum: 0
        total_pages:
          type: integer
          minimum: 0
    SavingsChallengeCampaign:
      type: object
      required:
      - id
      - name
      - short_description
      - start_date
      - end_date
      - duration_days
      - phase
      - days_remaining
      properties:
        id:
          type: string
        name:
          type: string
        short_description:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        duration_days:
          type: integer
          minimum: 1
        phase:
          type: string
          enum:
          - upcoming
          - active
          - ended
        day_number:
          type: integer
          minimum: 1
          nullable: true
        days_remaining:
          type: integer
          minimum: 0
    SavingsChallengeEnrollment:
      type: object
      required:
      - id
      - goal_id
      - joined_at
      - currency
      - target_amount
      - target_amount_cents
      - starting_balance
      - starting_balance_cents
      - saved_amount
      - saved_amount_cents
      - progress_percent
      - completed
      properties:
        id:
          type: string
          format: uuid
        goal_id:
          type: string
          format: uuid
        joined_at:
          type: string
          format: date-time
        currency:
          type: string
        target_amount:
          type: string
        target_amount_cents:
          type: integer
        starting_balance:
          type: string
        starting_balance_cents:
          type: integer
        saved_amount:
          type: string
        saved_amount_cents:
          type: integer
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
        completed:
          type: boolean
    SavingsChallengeResponse:
      type: object
      required:
      - campaign
      - enrollment
      properties:
        campaign:
          "$ref": "#/components/schemas/SavingsChallengeCampaign"
        enrollment:
          allOf:
          - "$ref": "#/components/schemas/SavingsChallengeEnrollment"
          nullable: true
    FamilyExportFile:
      type: object
      required:
      - attached
      properties:
        attached:
          type: boolean
        byte_size:
          type: integer
          nullable: true
          minimum: 0
        content_type:
          type: string
          nullable: true
    FamilyExport:
      type: object
      required:
      - id
      - status
      - filename
      - downloadable
      - file
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
        filename:
          type: string
        downloadable:
          type: boolean
        download_path:
          type: string
          nullable: true
        file:
          "$ref": "#/components/schemas/FamilyExportFile"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    FamilyExportResponse:
      type: object
      required:
      - data
      properties:
        data:
          "$ref": "#/components/schemas/FamilyExport"
    FamilyExportCollection:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          maxItems: 100
          items:
            "$ref": "#/components/schemas/FamilyExport"
        meta:
          "$ref": "#/components/schemas/Pagination"
    InsightKeyFigure:
      type: object
      required:
      - value
      - caption
      properties:
        value:
          type: string
        caption:
          type: string
    InsightAction:
      type: object
      required:
      - label
      - route
      - resource_id
      properties:
        label:
          type: string
        route:
          type: string
          enum:
          - transactions
          - account
          - recurring_transactions
          - reports
          - budget
          - budgets
        resource_id:
          type: string
          format: uuid
          nullable: true
    Insight:
      type: object
      required:
      - id
      - insight_type
      - priority
      - status
      - title
      - body
      - generated_at
      - unread
      - meta_line
      - icon
      - sentiment
      properties:
        id:
          type: string
          format: uuid
        insight_type:
          type: string
          enum:
          - spending_anomaly
          - cash_flow_warning
          - net_worth_milestone
          - subscription_audit
          - savings_rate_change
          - idle_cash
          - budget_at_risk
          - budget_on_track
        priority:
          type: string
          enum:
          - high
          - medium
          - low
        status:
          type: string
          enum:
          - active
          - read
        title:
          type: string
        body:
          type: string
        currency:
          type: string
          nullable: true
        period_start:
          type: string
          format: date
          nullable: true
        period_end:
          type: string
          format: date
          nullable: true
        generated_at:
          type: string
          format: date-time
        unread:
          type: boolean
        meta_line:
          type: string
        icon:
          type: string
        sentiment:
          type: string
          enum:
          - positive
          - negative
          - warning
          - neutral
        key_figure:
          allOf:
          - "$ref": "#/components/schemas/InsightKeyFigure"
          nullable: true
        action:
          allOf:
          - "$ref": "#/components/schemas/InsightAction"
          nullable: true
    InsightsResponse:
      type: object
      required:
      - insights
      - unread_count
      properties:
        insights:
          type: array
          items:
            "$ref": "#/components/schemas/Insight"
        unread_count:
          type: integer
          minimum: 0
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: string
        message:
          type: string
          nullable: true
        details:
          oneOf:
          - type: array
            items:
              type: string
          - type: object
          nullable: true
        errors:
          type: array
          items:
            type: string
          nullable: true
          description: Validation error messages (alternative to details used by trades,
            valuations, etc.)
    ErrorResponseWithImportId:
      type: object
      required:
      - error
      - import_id
      properties:
        error:
          type: string
        message:
          type: string
          nullable: true
        import_id:
          type: string
          format: uuid
          description: Import ID preserved for retry or inspection after upload succeeds
            but publish fails
    GenericMessageResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
    PersonalApiKey:
      type: object
      required:
      - id
      - name
      - scopes
      - source
      - active
      - current
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
            enum:
            - read
            - read_write
        source:
          type: string
          enum:
          - web
          - mobile
          - monitoring
        active:
          type: boolean
        current:
          type: boolean
          description: True when the request is authenticated with this API key.
        last_used_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PersonalApiKeyCollection:
      type: object
      required:
      - api_keys
      - options
      properties:
        api_keys:
          type: array
          items:
            "$ref": "#/components/schemas/PersonalApiKey"
        options:
          type: object
          required:
          - scopes
          - sources
          properties:
            scopes:
              type: array
              items:
                type: string
                enum:
                - read
                - read_write
            sources:
              type: array
              items:
                type: string
                enum:
                - mobile
    PersonalApiKeyResponse:
      type: object
      required:
      - api_key
      properties:
        api_key:
          "$ref": "#/components/schemas/PersonalApiKey"
    PersonalApiKeyCreateResponse:
      type: object
      required:
      - api_key
      properties:
        api_key:
          allOf:
          - "$ref": "#/components/schemas/PersonalApiKey"
          - type: object
            required:
            - plain_key
            properties:
              plain_key:
                type: string
                description: Plain API key secret. Returned only at creation time.
    PersonalApiKeyRevokeResponse:
      type: object
      required:
      - message
      - api_key
      properties:
        message:
          type: string
        api_key:
          "$ref": "#/components/schemas/PersonalApiKey"
    BulkOperationResponse:
      type: object
      required:
      - message
      - requested_count
      - skipped_count
      properties:
        message:
          type: string
        requested_count:
          type: integer
          minimum: 0
        matched_count:
          type: integer
          minimum: 0
        updated_count:
          type: integer
          minimum: 0
        deleted_count:
          type: integer
          minimum: 0
        skipped_count:
          type: integer
          minimum: 0
    TransactionAttachment:
      type: object
      required:
      - id
      - filename
      - content_type
      - byte_size
      - inline_path
      - download_path
      - created_at
      properties:
        id:
          type: string
        filename:
          type: string
        content_type:
          type: string
        byte_size:
          type: integer
          minimum: 0
        inline_path:
          type: string
        download_path:
          type: string
        created_at:
          type: string
          format: date-time
    TransactionAttachmentCollection:
      type: object
      required:
      - attachments
      properties:
        attachments:
          type: array
          items:
            "$ref": "#/components/schemas/TransactionAttachment"
    AccountStatementAccount:
      type: object
      required:
      - id
      - name
      - account_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        account_type:
          type: string
    AccountStatementReconciliationCheck:
      type: object
      required:
      - key
      - statement_amount
      - ledger_amount
      - difference
      - status
      properties:
        key:
          type: string
        statement_amount:
          type: string
        ledger_amount:
          type: string
        difference:
          type: string
        status:
          type: string
          enum:
          - matched
          - mismatched
    AccountStatement:
      type: object
      required:
      - id
      - filename
      - content_type
      - byte_size
      - source
      - upload_status
      - review_status
      - currency
      - manageable
      - download_path
      - account
      - suggested_account
      - reconciliation_checks
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        content_type:
          type: string
        byte_size:
          type: integer
          minimum: 0
        source:
          type: string
        upload_status:
          type: string
          enum:
          - stored
          - failed
        review_status:
          type: string
          enum:
          - unmatched
          - linked
          - rejected
        institution_name_hint:
          type: string
          nullable: true
        account_name_hint:
          type: string
          nullable: true
        account_last4_hint:
          type: string
          nullable: true
        period_start_on:
          type: string
          format: date
          nullable: true
        period_end_on:
          type: string
          format: date
          nullable: true
        opening_balance:
          type: string
          nullable: true
        closing_balance:
          type: string
          nullable: true
        currency:
          type: string
        parser_confidence:
          type: string
          nullable: true
        match_confidence:
          type: string
          nullable: true
        manageable:
          type: boolean
        download_path:
          type: string
        account:
          allOf:
          - "$ref": "#/components/schemas/AccountStatementAccount"
          nullable: true
        suggested_account:
          allOf:
          - "$ref": "#/components/schemas/AccountStatementAccount"
          nullable: true
        reconciliation_checks:
          type: array
          items:
            "$ref": "#/components/schemas/AccountStatementReconciliationCheck"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AccountStatementCollection:
      type: object
      required:
      - account_statements
      - pagination
      properties:
        account_statements:
          type: array
          items:
            "$ref": "#/components/schemas/AccountStatement"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    AccountStatementUploadResponse:
      type: object
      required:
      - account_statements
      - duplicates
      - errors
      properties:
        account_statements:
          type: array
          items:
            "$ref": "#/components/schemas/AccountStatement"
        duplicates:
          type: array
          items:
            type: object
            required:
            - id
            - filename
            properties:
              id:
                type: string
                format: uuid
              filename:
                type: string
        errors:
          type: array
          items:
            type: string
    FamilyDocument:
      type: object
      required:
      - id
      - filename
      - content_type
      - file_size
      - status
      - metadata
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        content_type:
          type: string
        file_size:
          type: integer
          minimum: 0
        status:
          type: string
          enum:
          - pending
          - processing
          - ready
          - error
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    FamilyDocumentResponse:
      type: object
      required:
      - family_document
      properties:
        family_document:
          "$ref": "#/components/schemas/FamilyDocument"
    FamilyDocumentVectorStoreCapabilities:
      type: object
      required:
      - configured
      - supported_upload_extensions
      - max_upload_size
      properties:
        configured:
          type: boolean
        supported_upload_extensions:
          type: array
          items:
            type: string
        max_upload_size:
          type: integer
          minimum: 0
    FamilyDocumentCollection:
      type: object
      required:
      - family_documents
      - pagination
      - vector_store
      properties:
        family_documents:
          type: array
          items:
            "$ref": "#/components/schemas/FamilyDocument"
        pagination:
          "$ref": "#/components/schemas/Pagination"
        vector_store:
          "$ref": "#/components/schemas/FamilyDocumentVectorStoreCapabilities"
    FamilyDocumentSearchResult:
      type: object
      required:
      - filename
      - content
      - score
      properties:
        filename:
          type: string
        content:
          type: string
        score:
          type: number
          nullable: true
    FamilyDocumentSearchResponse:
      type: object
      required:
      - query
      - result_count
      - results
      properties:
        query:
          type: string
        result_count:
          type: integer
          minimum: 0
        results:
          type: array
          items:
            "$ref": "#/components/schemas/FamilyDocumentSearchResult"
    MfaRequiredResponse:
      type: object
      required:
      - error
      - mfa_required
      properties:
        error:
          type: string
        mfa_required:
          type: boolean
    ToolCall:
      type: object
      required:
      - id
      - function_name
      - function_arguments
      - created_at
      properties:
        id:
          type: string
          format: uuid
        function_name:
          type: string
        function_arguments:
          type: object
          additionalProperties: true
        function_result:
          type: object
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time
    Message:
      type: object
      required:
      - id
      - type
      - role
      - content
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - user_message
          - assistant_message
        role:
          type: string
          enum:
          - user
          - assistant
        content:
          type: string
        model:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tool_calls:
          type: array
          items:
            "$ref": "#/components/schemas/ToolCall"
          nullable: true
        attachment:
          type: object
          nullable: true
          description: Present when the message has a file attachment.
          required:
          - filename
          - content_type
          - byte_size
          - url
          properties:
            filename:
              type: string
            content_type:
              type: string
            byte_size:
              type: integer
            url:
              type: string
              description: API path that redirects to the file (auth required).
    MessageResponse:
      allOf:
      - "$ref": "#/components/schemas/Message"
      - type: object
        required:
        - chat_id
        properties:
          chat_id:
            type: string
            format: uuid
          ai_response_status:
            type: string
            enum:
            - pending
            - complete
            - failed
            nullable: true
          ai_response_message:
            type: string
            nullable: true
    ChatResource:
      type: object
      required:
      - id
      - title
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        error:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ChatSummary:
      allOf:
      - "$ref": "#/components/schemas/ChatResource"
      - type: object
        required:
        - message_count
        properties:
          message_count:
            type: integer
            minimum: 0
          last_message_at:
            type: string
            format: date-time
            nullable: true
    ChatDetail:
      allOf:
      - "$ref": "#/components/schemas/ChatResource"
      - type: object
        required:
        - messages
        properties:
          messages:
            type: array
            items:
              "$ref": "#/components/schemas/Message"
          pagination:
            "$ref": "#/components/schemas/Pagination"
            nullable: true
    ChatUpdates:
      allOf:
      - "$ref": "#/components/schemas/ChatResource"
      - type: object
        required:
        - messages
        - pending_response
        - server_time
        properties:
          messages:
            type: array
            description: Messages created or updated since the `since` cursor (all
              messages when omitted). Upsert by id.
            items:
              "$ref": "#/components/schemas/Message"
          pending_response:
            type: boolean
            description: True while an assistant response is still being generated;
              keep polling.
          server_time:
            type: string
            format: date-time
            description: Cursor to pass as `since` on the next poll.
    ChatCollection:
      type: object
      required:
      - chats
      - pagination
      properties:
        chats:
          type: array
          items:
            "$ref": "#/components/schemas/ChatSummary"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    RetryResponse:
      type: object
      required:
      - message
      - message_id
      - chat_id
      properties:
        message:
          type: string
        message_id:
          type: string
          format: uuid
        chat_id:
          type: string
          format: uuid
    MessageTimeoutReportResponse:
      type: object
      required:
      - message
      - resolved
      - chat_id
      - message_id
      properties:
        message:
          type: string
        resolved:
          type: boolean
        chat_id:
          type: string
          format: uuid
        message_id:
          type: string
          format: uuid
    Account:
      type: object
      required:
      - id
      - name
      - account_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        account_type:
          type: string
          nullable: true
        status:
          type: string
    UserSummary:
      type: object
      required:
      - id
      - email
      - display_name
      - initials
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        display_name:
          type: string
        initials:
          type: string
    UserProfile:
      type: object
      required:
      - id
      - email
      - pending_email_change
      - display_name
      - initials
      - role
      - active
      - theme
      - default_period
      - default_account_order
      - show_sidebar
      - show_ai_sidebar
      - ai_enabled
      - ai_available
      - rule_prompts_disabled
      - goals
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        unconfirmed_email:
          type: string
          format: email
          nullable: true
        pending_email_change:
          type: boolean
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        display_name:
          type: string
        initials:
          type: string
        role:
          type: string
          enum:
          - guest
          - member
          - admin
          - super_admin
        active:
          type: boolean
        locale:
          type: string
          nullable: true
        theme:
          type: string
          nullable: true
        default_period:
          type: string
        default_account_order:
          type: string
        show_sidebar:
          type: boolean
        show_ai_sidebar:
          type: boolean
        ai_enabled:
          type: boolean
        ai_available:
          type: boolean
        rule_prompts_disabled:
          type: boolean
          nullable: true
        rule_prompt_dismissed_at:
          type: string
          format: date-time
          nullable: true
        onboarded_at:
          type: string
          format: date-time
          nullable: true
        set_onboarding_preferences_at:
          type: string
          format: date-time
          nullable: true
        set_onboarding_goals_at:
          type: string
          format: date-time
          nullable: true
        goals:
          type: array
          items:
            type: string
        default_account_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UserProfileFamily:
      type: object
      required:
      - id
      - currency
      - locale
      - date_format
      - month_start_day
      - moniker
      - default_account_sharing
      - custom_enabled_currencies
      - enabled_currencies
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        currency:
          type: string
        locale:
          type: string
        date_format:
          type: string
        country:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
        month_start_day:
          type: integer
        moniker:
          type: string
        default_account_sharing:
          type: string
          enum:
          - shared
          - private
        custom_enabled_currencies:
          type: boolean
        enabled_currencies:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UserProfileOptions:
      type: object
      required:
      - default_periods
      - default_account_orders
      - themes
      - locales
      - family_sharing_modes
      properties:
        default_periods:
          type: array
          items:
            type: string
        default_account_orders:
          type: array
          items:
            type: string
        themes:
          type: array
          items:
            type: string
            enum:
            - light
            - dark
            - system
        locales:
          type: array
          items:
            type: string
        family_sharing_modes:
          type: array
          items:
            type: string
            enum:
            - shared
            - private
    UserProfileResponse:
      type: object
      required:
      - user
      - family
      - options
      - email_change_requested
      properties:
        user:
          "$ref": "#/components/schemas/UserProfile"
        family:
          "$ref": "#/components/schemas/UserProfileFamily"
        options:
          "$ref": "#/components/schemas/UserProfileOptions"
        email_change_requested:
          type: boolean
    AiSettingsResponse:
      type: object
      required:
      - ai
      - prompts
      - functions
      properties:
        ai:
          type: object
          required:
          - enabled
          - requested_enabled
          - available
          - show_sidebar
          - assistant_type
          - available_assistant_types
          - default_model
          - rule_prompts_disabled
          properties:
            enabled:
              type: boolean
              description: Effective AI enabled state after availability checks.
            requested_enabled:
              type: boolean
              description: Raw user preference before provider availability checks.
            available:
              type: boolean
            show_sidebar:
              type: boolean
            assistant_type:
              type: string
              enum:
              - builtin
              - external
            available_assistant_types:
              type: array
              items:
                type: string
                enum:
                - builtin
                - external
            default_model:
              type: string
            rule_prompts_disabled:
              type: boolean
            rule_prompt_dismissed_at:
              type: string
              format: date-time
              nullable: true
        prompts:
          type: array
          items:
            type: object
            required:
            - key
            - model
            - instructions
            properties:
              key:
                type: string
                enum:
                - main_system_prompt
                - transaction_categorizer
                - merchant_detector
              model:
                type: string
              instructions:
                type: string
        functions:
          type: array
          items:
            type: object
            required:
            - key
            - class_name
            properties:
              key:
                type: string
              class_name:
                type: string
    LlmUsage:
      type: object
      required:
      - id
      - provider
      - model
      - operation
      - prompt_tokens
      - completion_tokens
      - total_tokens
      - formatted_cost
      - failed
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
        model:
          type: string
        operation:
          type: string
        prompt_tokens:
          type: integer
          minimum: 0
        completion_tokens:
          type: integer
          minimum: 0
        total_tokens:
          type: integer
          minimum: 0
        cache_creation_tokens:
          type: integer
          minimum: 0
          nullable: true
        cache_read_tokens:
          type: integer
          minimum: 0
          nullable: true
        estimated_cost:
          type: string
          nullable: true
        formatted_cost:
          type: string
        failed:
          type: boolean
        http_status_code:
          type: integer
          nullable: true
        error_message:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    LlmUsageStatistics:
      type: object
      required:
      - total_requests
      - requests_with_cost
      - total_prompt_tokens
      - total_completion_tokens
      - total_tokens
      - total_cost
      - avg_cost
      - by_operation
      - by_model
      properties:
        total_requests:
          type: integer
          minimum: 0
        requests_with_cost:
          type: integer
          minimum: 0
        total_prompt_tokens:
          type: integer
          minimum: 0
        total_completion_tokens:
          type: integer
          minimum: 0
        total_tokens:
          type: integer
          minimum: 0
        total_cost:
          type: number
          format: float
        avg_cost:
          type: number
          format: float
        by_operation:
          type: object
          additionalProperties:
            type: number
            format: float
        by_model:
          type: object
          additionalProperties:
            type: number
            format: float
    LlmUsageResponse:
      type: object
      required:
      - period
      - statistics
      - llm_usages
      - meta
      properties:
        period:
          type: object
          required:
          - start_date
          - end_date
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
        statistics:
          "$ref": "#/components/schemas/LlmUsageStatistics"
        llm_usages:
          type: array
          items:
            "$ref": "#/components/schemas/LlmUsage"
        meta:
          type: object
          required:
          - limit
          - count
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            count:
              type: integer
              minimum: 0
    HostingCredentialStatus:
      type: object
      required:
      - configured
      - env_locked
      properties:
        configured:
          type: boolean
        env_locked:
          type: boolean
    HostingBudget:
      type: object
      required:
      - value
      - minimum
      - env_locked
      properties:
        value:
          type: integer
          nullable: true
        minimum:
          type: integer
        env_locked:
          type: boolean
    HostingState:
      type: object
      required:
      - mode
      - onboarding
      - brand_fetch
      - market_data
      - sync
      - llm
      - assistant
      properties:
        mode:
          type: object
          required:
          - self_hosted
          - app_mode
          - admin
          - super_admin
          properties:
            self_hosted:
              type: boolean
            app_mode:
              type: string
            admin:
              type: boolean
            super_admin:
              type: boolean
        onboarding:
          type: object
          required:
          - state
          - require_email_confirmation
          properties:
            state:
              type: string
              enum:
              - open
              - closed
              - invite_only
            require_email_confirmation:
              type: boolean
            invite_only_default_family_id:
              type: string
              format: uuid
              nullable: true
        brand_fetch:
          type: object
          required:
          - client_id_configured
          - client_id_env_locked
          - high_res_logos
          - high_res_logos_env_locked
          - logo_size
          properties:
            client_id_configured:
              type: boolean
            client_id_env_locked:
              type: boolean
            high_res_logos:
              type: boolean
            high_res_logos_env_locked:
              type: boolean
            logo_size:
              type: integer
        market_data:
          type: object
          required:
          - exchange_rate_provider
          - exchange_rate_provider_env_locked
          - securities_providers
          - securities_providers_env_locked
          - api_keys
          properties:
            exchange_rate_provider:
              type: string
            exchange_rate_provider_env_locked:
              type: boolean
            securities_providers:
              type: array
              items:
                type: string
            securities_providers_env_locked:
              type: boolean
            api_keys:
              type: object
              properties:
                twelve_data:
                  "$ref": "#/components/schemas/HostingCredentialStatus"
                tiingo:
                  "$ref": "#/components/schemas/HostingCredentialStatus"
                eodhd:
                  "$ref": "#/components/schemas/HostingCredentialStatus"
                alpha_vantage:
                  "$ref": "#/components/schemas/HostingCredentialStatus"
                tinkoff_invest:
                  "$ref": "#/components/schemas/HostingCredentialStatus"
        sync:
          type: object
          required:
          - include_pending
          - include_pending_env_locked
          - auto_sync_enabled
          - auto_sync_enabled_env_locked
          - auto_sync_time
          - auto_sync_time_env_locked
          - auto_sync_timezone
          properties:
            include_pending:
              type: boolean
            include_pending_env_locked:
              type: boolean
            auto_sync_enabled:
              type: boolean
            auto_sync_enabled_env_locked:
              type: boolean
            auto_sync_time:
              type: string
            auto_sync_time_env_locked:
              type: boolean
            auto_sync_timezone:
              type: string
        llm:
          type: object
          required:
          - provider
          - provider_env_locked
          - openai
          - anthropic
          - budgets
          properties:
            provider:
              type: string
              enum:
              - openai
              - anthropic
            provider_env_locked:
              type: boolean
            openai:
              type: object
            anthropic:
              type: object
            budgets:
              type: object
              properties:
                context_window:
                  "$ref": "#/components/schemas/HostingBudget"
                max_response_tokens:
                  "$ref": "#/components/schemas/HostingBudget"
                max_items_per_call:
                  "$ref": "#/components/schemas/HostingBudget"
        assistant:
          type: object
          required:
          - type
          - type_env_locked
          - external
          properties:
            type:
              type: string
              enum:
              - builtin
              - external
            type_env_locked:
              type: boolean
            external:
              type: object
    HostingOptions:
      type: object
      required:
      - onboarding_states
      - llm_providers
      - assistant_types
      - exchange_rate_providers
      - securities_providers
      - openai_json_modes
      - llm_budget_minimums
      properties:
        onboarding_states:
          type: array
          items:
            type: string
            enum:
            - open
            - closed
            - invite_only
        llm_providers:
          type: array
          items:
            type: string
            enum:
            - openai
            - anthropic
        assistant_types:
          type: array
          items:
            type: string
            enum:
            - builtin
            - external
        exchange_rate_providers:
          type: array
          items:
            type: string
        securities_providers:
          type: array
          items:
            type: string
        openai_json_modes:
          type: array
          items:
            type: string
            nullable: true
        llm_budget_minimums:
          type: object
    HostingResponse:
      type: object
      required:
      - hosting
      - options
      properties:
        hosting:
          "$ref": "#/components/schemas/HostingState"
        options:
          "$ref": "#/components/schemas/HostingOptions"
    HostingMutationResponse:
      type: object
      required:
      - message
      - hosting
      properties:
        message:
          type: string
        hosting:
          "$ref": "#/components/schemas/HostingState"
        options:
          "$ref": "#/components/schemas/HostingOptions"
    OnboardingResponse:
      type: object
      required:
      - onboarding
      - user
      - family
      - subscription
      - options
      properties:
        message:
          type: string
        onboarding:
          type: object
          required:
          - onboarded
          - next_step
          - steps
          - invitation
          properties:
            onboarded:
              type: boolean
            next_step:
              type: string
              enum:
              - profile
              - preferences
              - goals
              - trial
              - complete
            steps:
              type: array
              items:
                type: object
                required:
                - key
                - complete
                properties:
                  key:
                    type: string
                  complete:
                    type: boolean
            invitation:
              type: object
              required:
              - accepted
              properties:
                accepted:
                  type: boolean
                id:
                  type: string
                  format: uuid
                inviter_id:
                  type: string
                  format: uuid
                accepted_at:
                  type: string
                  format: date-time
                  nullable: true
        user:
          type: object
          required:
          - id
          - email
          - display_name
          - goals
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
              format: email
            first_name:
              type: string
              nullable: true
            last_name:
              type: string
              nullable: true
            display_name:
              type: string
            locale:
              type: string
              nullable: true
            theme:
              type: string
              nullable: true
            goals:
              type: array
              items:
                type: string
            onboarded_at:
              type: string
              format: date-time
              nullable: true
            set_onboarding_preferences_at:
              type: string
              format: date-time
              nullable: true
            set_onboarding_goals_at:
              type: string
              format: date-time
              nullable: true
        family:
          type: object
          required:
          - id
          - currency
          - locale
          - date_format
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
            moniker:
              type: string
              enum:
              - Family
              - Group
            currency:
              type: string
            locale:
              type: string
            date_format:
              type: string
        subscription:
          type: object
          required:
          - self_hosted
          - can_start_trial
          - needs_subscription
          - trialing
          properties:
            self_hosted:
              type: boolean
            can_start_trial:
              type: boolean
            needs_subscription:
              type: boolean
            status:
              type: string
              nullable: true
            trialing:
              type: boolean
            trial_ends_at:
              type: string
              format: date-time
              nullable: true
            days_left_in_trial:
              type: integer
              nullable: true
        options:
          type: object
          required:
          - themes
          - locales
          - currencies
          - date_formats
          - monikers
          - countries
          - goals
          properties:
            themes:
              type: array
              items:
                type: string
                enum:
                - system
                - light
                - dark
            locales:
              type: array
              items:
                type: string
            currencies:
              type: array
              items:
                type: object
                required:
                - code
                - name
                properties:
                  code:
                    type: string
                  name:
                    type: string
                  symbol:
                    type: string
                    nullable: true
            date_formats:
              type: array
              items:
                type: object
                required:
                - label
                - value
                properties:
                  label:
                    type: string
                  value:
                    type: string
            monikers:
              type: array
              items:
                type: string
                enum:
                - Family
                - Group
            countries:
              type: array
              items:
                type: object
                required:
                - code
                - name
                properties:
                  code:
                    type: string
                  name:
                    type: string
            goals:
              type: array
              items:
                type: object
                required:
                - value
                - icon
                - label
                properties:
                  value:
                    type: string
                  icon:
                    type: string
                  label:
                    type: string
    SubscriptionStatus:
      type: object
      required:
      - self_hosted
      - upgrade_required
      - needs_subscription
      - can_start_trial
      - trialing
      - active
      - can_manage_subscription
      - pending_cancellation
      properties:
        self_hosted:
          type: boolean
        upgrade_required:
          type: boolean
        needs_subscription:
          type: boolean
        can_start_trial:
          type: boolean
        trialing:
          type: boolean
        active:
          type: boolean
        can_manage_subscription:
          type: boolean
        status:
          type: string
          nullable: true
          enum:
          - incomplete
          - incomplete_expired
          - trialing
          - active
          - past_due
          - canceled
          - unpaid
          - paused
        name:
          type: string
          nullable: true
        amount:
          type: string
          nullable: true
        currency:
          type: string
          nullable: true
        interval:
          type: string
          nullable: true
        trial_ends_at:
          type: string
          format: date-time
          nullable: true
        current_period_ends_at:
          type: string
          format: date-time
          nullable: true
        days_left_in_trial:
          type: integer
          nullable: true
        percentage_of_trial_remaining:
          type: number
          format: float
          nullable: true
        percentage_of_trial_completed:
          type: number
          format: float
          nullable: true
        pending_cancellation:
          type: boolean
        cancel_at_period_end:
          type: boolean
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
    SubscriptionOptions:
      type: object
      required:
      - plans
      - default_plan
      - checkout_available
      - portal_available
      properties:
        plans:
          type: array
          items:
            type: object
            required:
            - key
            - interval
            properties:
              key:
                type: string
                enum:
                - monthly
                - annual
              interval:
                type: string
                enum:
                - month
                - year
        default_plan:
          type: string
          enum:
          - annual
        checkout_available:
          type: boolean
        portal_available:
          type: boolean
    SubscriptionResponse:
      type: object
      required:
      - subscription
      - options
      properties:
        message:
          type: string
        subscription:
          "$ref": "#/components/schemas/SubscriptionStatus"
        options:
          "$ref": "#/components/schemas/SubscriptionOptions"
    SubscriptionCheckoutResponse:
      type: object
      required:
      - checkout_url
      - subscription
      - options
      properties:
        checkout_url:
          type: string
          format: uri
        subscription:
          "$ref": "#/components/schemas/SubscriptionStatus"
        options:
          "$ref": "#/components/schemas/SubscriptionOptions"
    SubscriptionPortalResponse:
      type: object
      required:
      - portal_url
      - subscription
      - options
      properties:
        portal_url:
          type: string
          format: uri
        subscription:
          "$ref": "#/components/schemas/SubscriptionStatus"
        options:
          "$ref": "#/components/schemas/SubscriptionOptions"
    MobileDevice:
      type: object
      required:
      - id
      - name
      - device_type
      - active
      - current
      - active_token_count
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        device_type:
          type: string
          enum:
          - ios
          - android
          - web
        os_version:
          type: string
          nullable: true
        app_version:
          type: string
          nullable: true
        active:
          type: boolean
        current:
          type: boolean
          description: True when the request OAuth token belongs to this device. API-key
            requests return false.
        active_token_count:
          type: integer
          minimum: 0
        last_seen_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    MobileDeviceCollection:
      type: object
      required:
      - mobile_devices
      properties:
        mobile_devices:
          type: array
          items:
            "$ref": "#/components/schemas/MobileDevice"
    MobileDeviceRevokeResponse:
      type: object
      required:
      - message
      - mobile_device
      - revoked_token_count
      properties:
        message:
          type: string
        mobile_device:
          "$ref": "#/components/schemas/MobileDevice"
        revoked_token_count:
          type: integer
          minimum: 0
    MfaState:
      type: object
      required:
      - enabled
      - setup_pending
      - webauthn_enabled
      - backup_codes_remaining
      properties:
        enabled:
          type: boolean
        setup_pending:
          type: boolean
        webauthn_enabled:
          type: boolean
        backup_codes_remaining:
          type: integer
          minimum: 0
    MfaResponse:
      type: object
      required:
      - mfa
      properties:
        mfa:
          "$ref": "#/components/schemas/MfaState"
    MfaSetup:
      type: object
      required:
      - issuer
      - account_name
      - otp_secret
      - provisioning_uri
      properties:
        issuer:
          type: string
        account_name:
          type: string
          format: email
        otp_secret:
          type: string
          description: Plain TOTP secret returned only during pending setup.
        provisioning_uri:
          type: string
          description: otpauth URI for authenticator enrollment.
    MfaSetupResponse:
      type: object
      required:
      - mfa
      - setup
      properties:
        mfa:
          "$ref": "#/components/schemas/MfaState"
        setup:
          "$ref": "#/components/schemas/MfaSetup"
    MfaMutationResponse:
      type: object
      required:
      - message
      - mfa
      properties:
        message:
          type: string
        mfa:
          "$ref": "#/components/schemas/MfaState"
    MfaVerifyResponse:
      type: object
      required:
      - message
      - mfa
      - backup_codes
      properties:
        message:
          type: string
        mfa:
          "$ref": "#/components/schemas/MfaState"
        backup_codes:
          type: array
          description: Plain backup codes returned only once when MFA is enabled.
          items:
            type: string
    WebauthnCredential:
      type: object
      required:
      - id
      - nickname
      - transports
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        nickname:
          type: string
        transports:
          type: array
          items:
            type: string
        last_used_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WebauthnRegistrationOptionsResponse:
      type: object
      required:
      - challenge_id
      - expires_in_seconds
      - public_key
      properties:
        challenge_id:
          type: string
          format: uuid
        expires_in_seconds:
          type: integer
          minimum: 1
        public_key:
          type: object
          description: PublicKeyCredentialCreationOptions returned by the WebAuthn
            library.
          required:
          - challenge
          - rp
          - user
          - pubKeyCredParams
          properties:
            challenge:
              type: string
            rp:
              type: object
            user:
              type: object
            pubKeyCredParams:
              type: array
              items:
                type: object
            excludeCredentials:
              type: array
              items:
                type: object
            authenticatorSelection:
              type: object
            attestation:
              type: string
          additionalProperties: true
    WebauthnCredentialCreateResponse:
      type: object
      required:
      - message
      - webauthn_credential
      properties:
        message:
          type: string
        webauthn_credential:
          "$ref": "#/components/schemas/WebauthnCredential"
    SsoIdentity:
      type: object
      required:
      - id
      - provider
      - label
      - icon
      - can_unlink
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
        label:
          type: string
        icon:
          type: string
        email:
          type: string
          format: email
          nullable: true
        last_authenticated_at:
          type: string
          format: date-time
          nullable: true
        can_unlink:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AdminUser:
      type: object
      required:
      - id
      - email
      - display_name
      - initials
      - role
      - active
      - current_user
      - sessions_count
      - family_id
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        display_name:
          type: string
        initials:
          type: string
        role:
          type: string
          enum:
          - guest
          - member
          - admin
          - super_admin
        active:
          type: boolean
        current_user:
          type: boolean
        last_login_at:
          type: string
          format: date-time
          nullable: true
        sessions_count:
          type: integer
          minimum: 0
        family_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AdminUserPendingInvitation:
      type: object
      required:
      - id
      - email
      - role
      - expires_at
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
          enum:
          - guest
          - member
          - admin
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AdminUserSubscription:
      type: object
      required:
      - id
      - status
      - trialing
      - active
      - cancel_at_period_end
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - incomplete
          - incomplete_expired
          - trialing
          - active
          - past_due
          - canceled
          - unpaid
          - paused
        trialing:
          type: boolean
        active:
          type: boolean
        trial_ends_at:
          type: string
          format: date-time
          nullable: true
        cancel_at_period_end:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AdminUserFamilyGroup:
      type: object
      required:
      - id
      - name
      - currency
      - users_count
      - accounts_count
      - entries_count
      - pending_invitations
      - users
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        currency:
          type: string
        users_count:
          type: integer
          minimum: 0
        accounts_count:
          type: integer
          minimum: 0
        entries_count:
          type: integer
          minimum: 0
        subscription:
          allOf:
          - "$ref": "#/components/schemas/AdminUserSubscription"
          nullable: true
        pending_invitations:
          type: array
          items:
            "$ref": "#/components/schemas/AdminUserPendingInvitation"
        users:
          type: array
          items:
            "$ref": "#/components/schemas/AdminUser"
    AdminUserCollection:
      type: object
      required:
      - families
      - filters
      - summary
      properties:
        families:
          type: array
          items:
            "$ref": "#/components/schemas/AdminUserFamilyGroup"
        filters:
          type: object
          required:
          - roles
          - trial_statuses
          properties:
            roles:
              type: array
              items:
                type: string
                enum:
                - guest
                - member
                - admin
                - super_admin
            trial_statuses:
              type: array
              items:
                type: string
                enum:
                - expiring_soon
                - trialing
        summary:
          type: object
          required:
          - trials_expiring_in_7_days
          properties:
            trials_expiring_in_7_days:
              type: integer
              minimum: 0
    AdminUserResponse:
      type: object
      required:
      - message
      - user
      properties:
        message:
          type: string
        user:
          "$ref": "#/components/schemas/AdminUser"
    AdminUserUpdateRequest:
      type: object
      required:
      - user
      properties:
        user:
          type: object
          required:
          - role
          properties:
            role:
              type: string
              enum:
              - guest
              - member
              - admin
              - super_admin
    AdminInvitationDeleteResponse:
      type: object
      required:
      - message
      - invitation_id
      properties:
        message:
          type: string
        invitation_id:
          type: string
          format: uuid
    AdminFamilyInvitationsDeleteResponse:
      type: object
      required:
      - message
      - family_id
      - deleted_count
      properties:
        message:
          type: string
        family_id:
          type: string
          format: uuid
        deleted_count:
          type: integer
          minimum: 0
    AdminSsoProvider:
      type: object
      required:
      - id
      - strategy
      - name
      - label
      - enabled
      - client_secret_present
      - settings
      - source
      - manageable
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        strategy:
          type: string
          enum:
          - openid_connect
          - google_oauth2
          - github
          - saml
        name:
          type: string
        label:
          type: string
        icon:
          type: string
          nullable: true
        enabled:
          type: boolean
        issuer:
          type: string
          nullable: true
        client_id:
          type: string
          nullable: true
        client_secret_present:
          type: boolean
        redirect_uri:
          type: string
          nullable: true
        callback_url:
          type: string
        settings:
          type: object
          additionalProperties: true
        source:
          type: string
          enum:
          - database
        manageable:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AdminRuntimeSsoProvider:
      type: object
      required:
      - name
      - enabled
      - source
      - manageable
      properties:
        name:
          type: string
        strategy:
          type: string
          nullable: true
        label:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        enabled:
          type: boolean
        callback_url:
          type: string
        source:
          type: string
          enum:
          - runtime
        manageable:
          type: boolean
    AdminSsoProviderResponse:
      type: object
      required:
      - sso_provider
      properties:
        message:
          type: string
        sso_provider:
          "$ref": "#/components/schemas/AdminSsoProvider"
    AdminSsoProviderCollection:
      type: object
      required:
      - sso_providers
      - legacy_providers
      - configuration
      properties:
        sso_providers:
          type: array
          items:
            "$ref": "#/components/schemas/AdminSsoProvider"
        legacy_providers:
          type: array
          items:
            "$ref": "#/components/schemas/AdminRuntimeSsoProvider"
        configuration:
          type: object
          required:
          - database_providers_enabled
          - supported_strategies
          properties:
            database_providers_enabled:
              type: boolean
            supported_strategies:
              type: array
              items:
                type: string
                enum:
                - openid_connect
                - google_oauth2
                - github
                - saml
    AdminSsoProviderMutation:
      type: object
      properties:
        strategy:
          type: string
          enum:
          - openid_connect
          - google_oauth2
          - github
          - saml
        name:
          type: string
        label:
          type: string
        icon:
          type: string
          nullable: true
        enabled:
          type: boolean
        issuer:
          type: string
          nullable: true
        client_id:
          type: string
          nullable: true
        client_secret:
          type: string
          nullable: true
        redirect_uri:
          type: string
          nullable: true
        settings:
          type: object
          additionalProperties: true
    AdminSsoProviderCreateRequest:
      type: object
      required:
      - sso_provider
      properties:
        sso_provider:
          allOf:
          - "$ref": "#/components/schemas/AdminSsoProviderMutation"
          - type: object
            required:
            - strategy
            - name
            - label
    AdminSsoProviderUpdateRequest:
      type: object
      required:
      - sso_provider
      properties:
        sso_provider:
          "$ref": "#/components/schemas/AdminSsoProviderMutation"
    AdminSsoProviderTestResponse:
      type: object
      required:
      - success
      - message
      - details
      properties:
        success:
          type: boolean
        message:
          type: string
        details:
          type: object
          additionalProperties: true
    SsoProvider:
      type: object
      required:
      - name
      - label
      - icon
      - mobile_sso_start_path
      properties:
        name:
          type: string
        label:
          type: string
        icon:
          type: string
        strategy:
          type: string
          nullable: true
        mobile_sso_start_path:
          type: string
    SecurityOverviewResponse:
      type: object
      required:
      - security
      properties:
        security:
          type: object
          required:
          - mfa
          - local_authentication
          - webauthn_credentials
          - sso_identities
          - sso_providers
          - encryption
          properties:
            mfa:
              type: object
              required:
              - enabled
              - webauthn_enabled
              - backup_codes_remaining
              properties:
                enabled:
                  type: boolean
                webauthn_enabled:
                  type: boolean
                backup_codes_remaining:
                  type: integer
                  minimum: 0
            local_authentication:
              type: object
              required:
              - password_enabled
              - sso_only
              properties:
                password_enabled:
                  type: boolean
                sso_only:
                  type: boolean
            webauthn_credentials:
              type: array
              items:
                "$ref": "#/components/schemas/WebauthnCredential"
            sso_identities:
              type: array
              items:
                "$ref": "#/components/schemas/SsoIdentity"
            sso_providers:
              type: array
              items:
                "$ref": "#/components/schemas/SsoProvider"
            encryption:
              type: object
              required:
              - unconfigured
              properties:
                unconfigured:
                  type: boolean
    WebauthnCredentialDeleteResponse:
      type: object
      required:
      - message
      - webauthn_credential_id
      properties:
        message:
          type: string
        webauthn_credential_id:
          type: string
          format: uuid
    SsoIdentityDeleteResponse:
      type: object
      required:
      - message
      - sso_identity_id
      - provider
      properties:
        message:
          type: string
        sso_identity_id:
          type: string
          format: uuid
        provider:
          type: string
    FamilyMember:
      type: object
      required:
      - id
      - email
      - display_name
      - initials
      - role
      - active
      - current_user
      - can_remove
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        display_name:
          type: string
        initials:
          type: string
        role:
          type: string
          enum:
          - guest
          - member
          - admin
          - super_admin
        active:
          type: boolean
        current_user:
          type: boolean
        can_remove:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Invitation:
      type: object
      required:
      - id
      - email
      - role
      - pending
      - accepted_existing_user
      - expires_at
      - created_at
      - updated_at
      - family
      - inviter
      - token
      - accept_url
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
          enum:
          - guest
          - member
          - admin
        pending:
          type: boolean
        accepted_existing_user:
          type: boolean
        accepted_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        family:
          type: object
          required:
          - id
          - name
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        inviter:
          "$ref": "#/components/schemas/UserSummary"
        token:
          type: string
          nullable: true
        accept_url:
          type: string
          nullable: true
    FamilyMembersResponse:
      type: object
      required:
      - family_members
      - pending_invitations
      properties:
        family_members:
          type: array
          items:
            "$ref": "#/components/schemas/FamilyMember"
        pending_invitations:
          type: array
          items:
            "$ref": "#/components/schemas/Invitation"
    InvitationCollection:
      type: object
      required:
      - invitations
      properties:
        invitations:
          type: array
          items:
            "$ref": "#/components/schemas/Invitation"
    AccountSharingSummary:
      type: object
      required:
      - shared
      - owned_by_current_user
      - current_user_permission
      - include_in_finances
      properties:
        shared:
          type: boolean
        owned_by_current_user:
          type: boolean
        current_user_permission:
          type: string
          nullable: true
          enum:
          - owner
          - full_control
          - read_write
          - read_only
        include_in_finances:
          type: boolean
    AccountableAddress:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
        line1:
          type: string
          nullable: true
        line2:
          type: string
          nullable: true
        county:
          type: string
          nullable: true
        locality:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        postal_code:
          type: string
          nullable: true
    AccountableDetail:
      type: object
      required:
      - id
      - type
      - key
      - subtype
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        type:
          type: string
          enum:
          - Depository
          - Investment
          - Crypto
          - Property
          - Vehicle
          - OtherAsset
          - CreditCard
          - Loan
          - OtherLiability
          nullable: true
        key:
          type: string
          nullable: true
        subtype:
          type: string
          nullable: true
        tax_treatment:
          type: string
          nullable: true
          enum:
          - taxable
          - tax_deferred
          - tax_exempt
          - tax_advantaged
        available_credit:
          type: string
          nullable: true
        minimum_payment:
          type: string
          nullable: true
        apr:
          type: string
          nullable: true
        annual_fee:
          type: string
          nullable: true
        expiration_date:
          type: string
          format: date
          nullable: true
        rate_type:
          type: string
          nullable: true
        interest_rate:
          type: string
          nullable: true
        term_months:
          type: integer
          nullable: true
        initial_balance:
          type: string
          nullable: true
        year_built:
          type: integer
          nullable: true
        area_value:
          type: integer
          nullable: true
        area_unit:
          type: string
          nullable: true
        address:
          "$ref": "#/components/schemas/AccountableAddress"
          nullable: true
        make:
          type: string
          nullable: true
        model:
          type: string
          nullable: true
        year:
          type: integer
          nullable: true
        mileage_value:
          type: integer
          nullable: true
        mileage_unit:
          type: string
          nullable: true
    AccountDetail:
      type: object
      required:
      - id
      - name
      - balance
      - balance_cents
      - cash_balance
      - cash_balance_cents
      - currency
      - classification
      - account_type
      - accountable
      - status
      - exclude_from_reports
      - default
      - transaction_default_eligible
      - syncing
      - linked
      - manual
      - deletable
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        balance:
          type: string
        balance_cents:
          type: integer
          description: Signed balance in minor currency units
        cash_balance:
          type: string
        cash_balance_cents:
          type: integer
          description: Signed cash balance in minor currency units
        currency:
          type: string
        classification:
          type: string
        account_type:
          type: string
          nullable: true
        subtype:
          type: string
          nullable: true
        accountable:
          "$ref": "#/components/schemas/AccountableDetail"
        status:
          type: string
          enum:
          - active
          - draft
          - disabled
          - pending_deletion
        institution_name:
          type: string
          nullable: true
        institution_domain:
          type: string
          nullable: true
        exclude_from_reports:
          type: boolean
        default:
          type: boolean
        transaction_default_eligible:
          type: boolean
        syncing:
          type: boolean
        linked:
          type: boolean
        manual:
          type: boolean
        deletable:
          type: boolean
        owner:
          "$ref": "#/components/schemas/UserSummary"
          nullable: true
        sharing:
          "$ref": "#/components/schemas/AccountSharingSummary"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AccountSharingShare:
      type: object
      required:
      - shared
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        shared:
          type: boolean
        permission:
          type: string
          nullable: true
          enum:
          - full_control
          - read_write
          - read_only
        include_in_finances:
          type: boolean
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
    AccountSharingMember:
      allOf:
      - "$ref": "#/components/schemas/UserSummary"
      - type: object
        required:
        - active
        - share
        properties:
          active:
            type: boolean
          share:
            "$ref": "#/components/schemas/AccountSharingShare"
    AccountSharingResponse:
      type: object
      required:
      - account
      - permissions
      - current_user_share
      - family_members
      properties:
        account:
          type: object
          required:
          - id
          - name
          - owner_id
          - owned_by_current_user
          - current_user_permission
          - owner
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            owner_id:
              type: string
              format: uuid
              nullable: true
            owned_by_current_user:
              type: boolean
            current_user_permission:
              type: string
              nullable: true
              enum:
              - owner
              - full_control
              - read_write
              - read_only
            owner:
              "$ref": "#/components/schemas/UserSummary"
              nullable: true
        permissions:
          type: array
          items:
            type: string
            enum:
            - full_control
            - read_write
            - read_only
        current_user_share:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            permission:
              type: string
              enum:
              - full_control
              - read_write
              - read_only
            include_in_finances:
              type: boolean
        family_members:
          type: array
          items:
            "$ref": "#/components/schemas/AccountSharingMember"
    AccountCollection:
      type: object
      required:
      - accounts
      - pagination
      properties:
        accounts:
          type: array
          items:
            "$ref": "#/components/schemas/AccountDetail"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    FamilySettings:
      type: object
      required:
      - id
      - currency
      - locale
      - date_format
      - month_start_day
      - moniker
      - default_account_sharing
      - custom_enabled_currencies
      - enabled_currencies
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        currency:
          type: string
        locale:
          type: string
        date_format:
          type: string
        country:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
        month_start_day:
          type: integer
          minimum: 1
          maximum: 28
        moniker:
          type: string
          enum:
          - Family
          - Group
        default_account_sharing:
          type: string
          enum:
          - shared
          - private
        custom_enabled_currencies:
          type: boolean
        enabled_currencies:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UserPreferencesResponse:
      type: object
      required:
      - preferences
      - options
      properties:
        preferences:
          type: object
          required:
          - raw
          - appearance
          - preview_features_enabled
          - dashboard
          - reports
          - transactions
          properties:
            raw:
              type: object
              description: Raw stored user preferences for forward compatibility.
            appearance:
              type: object
              required:
              - dashboard_two_column
              - show_split_grouped
              properties:
                dashboard_two_column:
                  type: boolean
                show_split_grouped:
                  type: boolean
            preview_features_enabled:
              type: boolean
            dashboard:
              type: object
              required:
              - collapsed_sections
              - section_order
              - section_layout
              properties:
                collapsed_sections:
                  type: object
                  additionalProperties:
                    type: boolean
                section_order:
                  type: array
                  items:
                    type: string
                section_layout:
                  type: object
            reports:
              type: object
              required:
              - collapsed_sections
              - section_order
              properties:
                collapsed_sections:
                  type: object
                  additionalProperties:
                    type: boolean
                section_order:
                  type: array
                  items:
                    type: string
            transactions:
              type: object
              required:
              - collapsed_sections
              properties:
                collapsed_sections:
                  type: object
                  additionalProperties:
                    type: boolean
        options:
          type: object
          required:
          - dashboard_sections
          - dashboard_height_presets
          - dashboard_default_height_preset
          - dashboard_widths
          - default_dashboard_section_order
          - report_sections
          - default_reports_section_order
          properties:
            dashboard_sections:
              type: array
              items:
                type: string
            dashboard_height_presets:
              type: object
              additionalProperties:
                type: integer
            dashboard_default_height_preset:
              type: string
            dashboard_widths:
              type: array
              items:
                type: string
                enum:
                - single
                - full
            default_dashboard_section_order:
              type: array
              items:
                type: string
            report_sections:
              type: array
              items:
                type: string
            default_reports_section_order:
              type: array
              items:
                type: string
    InviteCode:
      type: object
      required:
      - id
      - token
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        token:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    InviteCodeResponse:
      type: object
      required:
      - invite_code
      properties:
        invite_code:
          "$ref": "#/components/schemas/InviteCode"
    InviteCodeCollection:
      type: object
      required:
      - invite_codes
      properties:
        invite_codes:
          type: array
          items:
            "$ref": "#/components/schemas/InviteCode"
    Currency:
      type: object
      required:
      - iso_code
      - name
      - symbol
      - priority
      - minor_unit_conversion
      - default_precision
      - step
      - enabled
      - primary
      properties:
        iso_code:
          type: string
          example: USD
        name:
          type: string
          example: United States Dollar
        symbol:
          type: string
          nullable: true
          example: "$"
        priority:
          type: integer
          nullable: true
        iso_numeric:
          type: string
          nullable: true
        html_code:
          type: string
          nullable: true
        minor_unit:
          type: string
          nullable: true
        minor_unit_conversion:
          type: integer
        smallest_denomination:
          type: integer
          nullable: true
        separator:
          type: string
          nullable: true
        delimiter:
          type: string
          nullable: true
        default_format:
          type: string
          nullable: true
        default_precision:
          type: integer
        step:
          type: number
          format: double
        enabled:
          type: boolean
          description: Whether this currency is enabled for the authenticated family.
        primary:
          type: boolean
          description: Whether this currency is the authenticated family primary currency.
    CurrencyCollection:
      type: object
      required:
      - currencies
      - meta
      properties:
        currencies:
          type: array
          items:
            "$ref": "#/components/schemas/Currency"
        meta:
          type: object
          required:
          - enabled_only
          - primary_currency
          - enabled_currencies
          properties:
            enabled_only:
              type: boolean
            primary_currency:
              type: string
            enabled_currencies:
              type: array
              items:
                type: string
    ExchangeRateResponse:
      type: object
      required:
      - from_currency
      - to_currency
      - date
      - rate
      - same_currency
      properties:
        from_currency:
          type: string
        to_currency:
          type: string
        date:
          type: string
          format: date
        rate:
          type: number
          format: double
        same_currency:
          type: boolean
    BudgetSummary:
      type: object
      required:
      - id
      - start_date
      - end_date
      - name
      - currency
      - initialized
      - current
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        name:
          type: string
        currency:
          type: string
        initialized:
          type: boolean
        current:
          type: boolean
        budgeted_spending:
          type: string
          nullable: true
        budgeted_spending_cents:
          type: integer
          nullable: true
        expected_income:
          type: string
          nullable: true
        expected_income_cents:
          type: integer
          nullable: true
        allocated_spending:
          type: string
        allocated_spending_cents:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Budget:
      type: object
      required:
      - id
      - start_date
      - end_date
      - name
      - currency
      - initialized
      - current
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        name:
          type: string
        currency:
          type: string
        initialized:
          type: boolean
        current:
          type: boolean
        budgeted_spending:
          type: string
          nullable: true
        budgeted_spending_cents:
          type: integer
          nullable: true
        expected_income:
          type: string
          nullable: true
        expected_income_cents:
          type: integer
          nullable: true
        allocated_spending:
          type: string
        allocated_spending_cents:
          type: integer
        actual_spending:
          type: string
        actual_spending_cents:
          type: integer
        actual_income:
          type: string
        actual_income_cents:
          type: integer
        available_to_spend:
          type: string
        available_to_spend_cents:
          type: integer
        available_to_allocate:
          type: string
        available_to_allocate_cents:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BudgetCollection:
      type: object
      required:
      - currency
      - budgets
      - pagination
      properties:
        currency:
          type: string
          description: Family primary currency
        budgets:
          type: array
          items:
            "$ref": "#/components/schemas/BudgetSummary"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    BudgetCategorySummary:
      type: object
      required:
      - id
      - budget_id
      - currency
      - subcategory
      - inherits_parent_budget
      - category
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        budget_id:
          type: string
          format: uuid
        currency:
          type: string
        subcategory:
          type: boolean
        inherits_parent_budget:
          type: boolean
        budgeted_spending:
          type: string
        budgeted_spending_cents:
          type: integer
        display_budgeted_spending:
          type: string
        display_budgeted_spending_cents:
          type: integer
        actual_spending:
          type: string
        actual_spending_cents:
          type: integer
        available_to_spend:
          type: string
        available_to_spend_cents:
          type: integer
        avg_monthly_expense:
          type: string
        avg_monthly_expense_cents:
          type: integer
        median_monthly_expense:
          type: string
        median_monthly_expense_cents:
          type: integer
        category:
          type: object
          required:
          - id
          - name
          - color
          - lucide_icon
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            color:
              type: string
            lucide_icon:
              type: string
            parent_id:
              type: string
              format: uuid
              nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BudgetCategory:
      type: object
      required:
      - id
      - budget_id
      - currency
      - subcategory
      - inherits_parent_budget
      - category
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        budget_id:
          type: string
          format: uuid
        currency:
          type: string
        subcategory:
          type: boolean
        inherits_parent_budget:
          type: boolean
        budgeted_spending:
          type: string
        budgeted_spending_cents:
          type: integer
        display_budgeted_spending:
          type: string
        display_budgeted_spending_cents:
          type: integer
        actual_spending:
          type: string
        actual_spending_cents:
          type: integer
        available_to_spend:
          type: string
        available_to_spend_cents:
          type: integer
        avg_monthly_expense:
          type: string
        avg_monthly_expense_cents:
          type: integer
        median_monthly_expense:
          type: string
        median_monthly_expense_cents:
          type: integer
        category:
          type: object
          required:
          - id
          - name
          - color
          - lucide_icon
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            color:
              type: string
            lucide_icon:
              type: string
            parent_id:
              type: string
              format: uuid
              nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BudgetCategoryCollection:
      type: object
      required:
      - budget_categories
      - pagination
      properties:
        budget_categories:
          type: array
          items:
            "$ref": "#/components/schemas/BudgetCategorySummary"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Balance:
      type: object
      required:
      - id
      - date
      - currency
      - flows_factor
      - balance
      - balance_cents
      - start_balance
      - start_balance_cents
      - end_balance
      - end_balance_cents
      - account
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date
        currency:
          type: string
        flows_factor:
          type: number
          format: float
        balance:
          type: string
        balance_cents:
          type: integer
          description: Balance in currency minor units
        cash_balance:
          type: string
          nullable: true
        cash_balance_cents:
          type: integer
          nullable: true
          description: Cash balance in currency minor units
        start_cash_balance:
          type: string
        start_cash_balance_cents:
          type: integer
          description: Starting cash balance in currency minor units
        start_non_cash_balance:
          type: string
        start_non_cash_balance_cents:
          type: integer
          description: Starting non-cash balance in currency minor units
        start_balance:
          type: string
        start_balance_cents:
          type: integer
          description: Starting total balance in currency minor units
        cash_inflows:
          type: string
        cash_inflows_cents:
          type: integer
          description: Cash inflows in currency minor units
        cash_outflows:
          type: string
        cash_outflows_cents:
          type: integer
          description: Cash outflows in currency minor units
        non_cash_inflows:
          type: string
        non_cash_inflows_cents:
          type: integer
          description: Non-cash inflows in currency minor units
        non_cash_outflows:
          type: string
        non_cash_outflows_cents:
          type: integer
          description: Non-cash outflows in currency minor units
        net_market_flows:
          type: string
        net_market_flows_cents:
          type: integer
          description: Net market flows in currency minor units
        cash_adjustments:
          type: string
        cash_adjustments_cents:
          type: integer
          description: Cash adjustments in currency minor units
        non_cash_adjustments:
          type: string
        non_cash_adjustments_cents:
          type: integer
          description: Non-cash adjustments in currency minor units
        end_cash_balance:
          type: string
        end_cash_balance_cents:
          type: integer
          description: Ending cash balance in currency minor units
        end_non_cash_balance:
          type: string
        end_non_cash_balance_cents:
          type: integer
          description: Ending non-cash balance in currency minor units
        end_balance:
          type: string
        end_balance_cents:
          type: integer
          description: Ending total balance in currency minor units
        account:
          "$ref": "#/components/schemas/BalanceAccount"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BalanceAccount:
      type: object
      required:
      - id
      - name
      - account_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        account_type:
          type: string
          nullable: true
    BalanceCollection:
      type: object
      required:
      - currency
      - balances
      - pagination
      properties:
        currency:
          type: string
          nullable: true
          description: Family primary currency, or account currency when filtering
            by account_id
        balances:
          type: array
          items:
            "$ref": "#/components/schemas/Balance"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Category:
      type: object
[...]
